* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "poppins", sans-serif;
    background: linear-gradient(135deg,rgb(22, 22, 140),rgb(123, 169, 222));
}

h1{
    padding: 15px 10px;
    font-size: 50px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}
.container {
    width: 500px;
    height: 500px;
    padding: 15px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(82, 11, 148);
}

.play {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px 0;
}

.play-surface {
    width: 30%;
    height: 30%;
    padding-bottom: 15px;
    border-radius: 8px;
    border: none;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-surface:disabled {
    background-color: white;
    color: black;
}

#restart {
    position: relative;
    left: 160px;
    top: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(82, 11, 148);
    color: white;
    letter-spacing: 1px;
    cursor: pointer;

}

#restart:hover, #again:hover {
    outline: 2px solid whitesmoke;
}

.result {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    text-align: center;
    border: 3px solid white;
    outline: 8px solid rgb(81, 10, 148);
    border-radius: 15px;
    color: white;
    background-color: rgb(191, 74, 230);
    visibility: hidden;
}
.result p{
    padding: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    word-spacing: 5px;
}
.result p span {
    font-size: 60px;
    font-weight: 500;
}

#again {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(82, 11, 148);
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}